<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="../../common.css">
    <style>
        .main-container {
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
        }

        .upload-box {
            width: 500px; 
            margin: 0 auto;
            min-height: 100px; 
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            padding: 50px 0 20px 0; 
            border: 5px solid rgb(24, 137, 212); 
            color: rgb(255, 255, 255);
        }

        form {
            text-align: center;
        }

        form > input:nth-child(2) {
            width: 50px;
            height: 25px;
        }

        form > textarea {
            margin-top: 20px;
        }

        .back {
            width: 500px;
            margin-bottom: 20px;
            font-size: 20px;
            text-align: right;
        }

        a {
            text-decoration: none;
            color: rgb(24, 137, 212);
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="back">
            <a href="/profile/<%= currentUser %>">Go Back</a>
        </div>
        <div class="upload-box">
            <form action="/profile/<%= currentUser %>/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="myimage">
                <input type="submit">
                <textarea name="desc" cols="50" rows="5" placeholder="Add description for this image if you like..."></textarea>
            </form>
        </div>
    </div>
</body>
</html>